In [1]:
import pandas as pd
import numpy as np

In [64]:
raw_ts = pd.read_hdf('../data/msms/1fme/scores/raw.h5', key='timescales')
ts = pd.read_hdf('../analysis/1fme/summary.h5', key='timescales')
gaps = pd.read_hdf('../analysis/1fme/summary.h5', key='timescale_ratio')
raw_gaps = pd.read_hdf('../data/msms/1fme/scores/raw.h5', key='timescale_ratio')

In [65]:
gaps.loc[(81, 41, slice(None)), :]

                      median        lb         ub  count
hp_ix lag process
81    41  2        11.900826  9.905592  15.723409    100
          3         1.647166  1.414177   1.890408    100
          4         1.438825  1.320792   1.586355    100
          5              NaN       NaN        NaN     98
          6              NaN       NaN        NaN      0

In [66]:
ts.loc[(81, 41, slice(None)), :]

                        median           lb           ub  count
hp_ix lag process
81    41  2        1996.697694  1669.055565  2398.959416    100
          3         165.144067   148.924864   179.521885    100
          4          98.512293    90.642566   113.757663    100
          5          68.775009    60.876654    79.909307    100
          6          45.795555    42.407091    50.682015     98

In [67]:
1996/165, 165/98, 98/68

(12.096969696969698, 1.683673469387755, 1.4411764705882353)

In [78]:



def series_summary(s: pd.Series) -> pd.DataFrame:
    controls = list(s.index.names)
    controls.remove('bs_ix')
    df = s.groupby(controls).agg(
            median=lambda x: np.nanquantile(x, 0.5),
            lb=lambda x: np.nanquantile(x, 0.025),
            ub=lambda x: np.nanquantile(x, 0.975),
            count=lambda x: x.shape[0]-x.isna().sum()

    )
    return df

In [79]:
gaps_2 = series_summary(raw_gaps)

/home/rob/miniconda3/envs/msmsense/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1560: RuntimeWarning: All-NaN slice encountered
  r, k = function_base._ureduce(a,

In [80]:
gaps_2.loc[(81, 41, slice(None)), :]

                      median        lb         ub  count
hp_ix lag process
81    41  2        11.900826  9.905592  15.723409    100
          3         1.647166  1.414177   1.890408    100
          4         1.438825  1.320792   1.586355    100
          5         1.494065  1.372278   1.653350     98
          6              NaN       NaN        NaN      0

In [81]:
gaps.loc[(81, 41, slice(None)), :]

                      median        lb         ub  count
hp_ix lag process
81    41  2        11.900826  9.905592  15.723409    100
          3         1.647166  1.414177   1.890408    100
          4         1.438825  1.320792   1.586355    100
          5              NaN       NaN        NaN     98
          6              NaN       NaN        NaN      0